* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.categories {
    width: 100%;
    /* height: 30vh; */
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    /* gap: 10px; */
}


h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    
}

.btncategory1 {
    width: 122px;
    height: 50px;
    background-color: rgba(7, 6, 6, 0.849);
    border-radius: 20px;
    
    color: aliceblue;


}

.btns {
    width: 70px;
    height: 50px;
    /* display: flex; */
    flex-direction: column;
    background-color: rgb(15, 11, 11);
    color: aliceblue;
    border-radius: 50%
    
}
.line{
    width: 85%;
    height: 2px;
    background-color: red;
    margin-top: 10px;
  
    
    
   

}
.line01{
    display: flex;
    justify-content: center;
}
.filterdiv{
    width: 400px;
    height: 100px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* border: 2px solid rgb(209, 12, 12); */
    border-radius: 10px;

}
.motherfilterdiv
{
    display: flex;
    justify-content: center;
    
}
.nuts01{
    width: 100px;
    height: 30px;
    background-color: black;
    color: aliceblue;
    border-radius: 15px;
}


.selectio{ width: 150px;
    height: 30px;
    background-color: black;
    color: aliceblue;
    border-radius: 15px;}